::selection {
  background: #51dbe3;
  color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #51dbe3;
  -webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);
  -moz-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);
  box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: white;
  -webkit-box-shadow: inset 1px 1px 2px #e0e0e0;
  -moz-box-shadow: inset 1px 1px 2px #e0e0e0;
  box-shadow: inset 1px 1px 2px #e0e0e0;
  border: 1px solid #d8d8d8;
}

html {
  overflow: hidden;
  height: 0%;
}

body {
  width: 250px;
  height: 0%;
}

h3 {
  margin: 0;
}

.divider {
  margin-bottom: 10px;
}

.section:not(:last-child) {
  padding-bottom: 10px;
}

.section label {
  font-weight: 500;
}

input[type="color"] {
  float: right;
  background-color: white;
  border-radius: 0.25rem;
}

.blip-tag-select-color {
  background: #ddd;
  padding: 5px;
  width: 130px;
  box-sizing: unset;
  right: 10;
  margin-top: 12.4px !important;
  opacity: 0;
  transform: scale(0);
  transform-origin: right bottom;
}

.visible {
  transition: opacity 0.5s !important;
  opacity: 1 !important;
  transform: scale(1) !important;
}

.tag-section {
  height: 18px;
  margin-bottom: 10px;
}

.settings-icon {
  margin-top: 5px;
  margin-right: 5px;
  float: right;
  height: 15px;
}

.color-picker-action {
  float: right;
  background-color: black;
  border-radius: 10px;
  width: 18px;
  height: 100%;
  margin-right: 10px;
}

.blip-tag-select-color:before {
  border-bottom: none;
  border-top: 16px solid #ddd;
  left: unset;
  right: 8.7px;
  top: unset;
  bottom: -16px;
}

.dropdown-option:hover {
  background-color: #ddd;
}

.dropdown-option {
  padding: 5px 0px 5px 10px;
  cursor: pointer;
}

.dropdown-list-ul {
  list-style-type: none;
  padding: 0px;
  margin: 8px 0px;
}

#bot-options-list {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  width: 180px;
  opacity: 0;
  transform: scale(0);
  transform-origin: center bottom;
}

#reset-configs {
  float: right;
  cursor: pointer;
}

.feature-settings {
  display: none;
}

.feature-settings.feature-visible {
  display: block;
}

.add-button {
  width: 100%;
  height: unset;
  line-height: 2rem;
  margin-bottom: 5px;
}

.bp-input-wrapper {
  height: unset;
  width: 44%;
  float: left;
  margin: 0px 0px 8px 3px;
  padding: .25rem;
}

.bp-label {
  height: 0.8rem;
}

.scrollable {
  overflow-y: auto;
}

#autotrackextras-settings {
  max-height: 260px;
}